%nav>
  %ul<>
    - if controller_name != "sessions"
      %li<>
        = link_to new_session_path(resource_name) do
          = t ".sessions.new.title", :default => "Sign in"

    - if devise_mapping.registerable? && controller_name != "registrations"
      %li<>
        = link_to new_registration_path(resource_name) do
          = t ".registrations.new.title", :default => "Sign up"

    - if devise_mapping.recoverable? && controller_name != "passwords"
      %li<>
        = link_to new_password_path(resource_name) do
          = t ".passwords.new.title", :default => "Forgot your password?"

    - if devise_mapping.confirmable? && controller_name != "confirmations"
      %li<>
        = link_to new_confirmation_path(resource_name) do
          = t ".confirmations.new.title", :default => "Didn't receive confirmation instructions?"

    - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != "unlocks"
      %li<>
        = link_to new_unlock_path(resource_name) do
          = t ".unlocks.new.title", "Didn't receive unlock instructions?"

    - if devise_mapping.omniauthable?
      - resource_class.omniauth_providers.each do |provider|
        %li<>
          = link_to omniauth_authorize_path(resource_name, provider) do
            = t ".omniauth_authorize.#{provider}.title", "Sign in with #{provider.to_s.titleize}"
