%section.devise-registrations.new
  %header.devise-registrations.new
    %h1= t 'devise.registrations.new.title', :default => "Sign Up"

  = semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |form|
    = devise_error_messages!

    = form.inputs do
      = form.input :email
      = form.input :password
      = form.input :password_confirmation

    = form.buttons do
      = form.commit_button "Sign up"

  %footer.devise-registrations.new
    = render 'footer'
