%section.devise-confirmations.new
  %header.devise-confirmations.new
    %h1= t ".title", :default => "Resend confirmation instructions"

  = semantic_form_for resource, :as => resource_name, :url => confirmation_path(resource_name), :html => {:method => :post} do |form|
    = devise_error_messages!

    = form.inputs do
      = form.input :email

    = form.actions do
      = form.action :submit, :label => t(".submit", default: "Resend confirmation instructions")

  %footer.devise-confirmations.new
    = render "footer"
