= semantic_form_for @<%= singular_table_name %> do |form|
  = form.inputs do
  <%- attributes.each do |attribute| %>
    = form.input :<%= attribute.name %>
  <%- end %>

  = form.buttons do
    = form.commit_button
